/* 公共样式 */

/* 解决高度塌陷的问题 */
.clearfix::before,
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* 网页的字体 */

body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}

/* 设置一个类，用来表示中间容器的类 */
.w{
    width: 1226px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #333;
}